@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 132, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fff;
  padding: 50px 150px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  row-gap: 20px;
}

.container h4 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}

.input-container {
  flex-direction: row;
  column-gap: 100px;
}

.input-container input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  font-size: 1.125rem;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
}

.input-container input::-webkit-inner-spin-button,
.input-container input::-webkit-outer-spin-button {
  display: none;
}

form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  background: #6e93f7;
  transition: all, 0.2s ease;
}

form button.active {
  background: #4f07f8;
}

form button:hover {
  background: #0e4bf1;
}
